/*Código de Christian(index)*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;800;900&display=swap');

body{
    font-family: "Montserrat";
    font-size: 14px;
    color: #000;
}

.carousel-caption {
	width: 100%;
	height: 100%;
	padding: 0 25%;
	left: 0;
	right: 0;
	padding-bottom: 0;
	display: grid;
	align-content: center;
	color: #fff;
}

.carousel-caption h3 {
	font-weight: 300;
	text-transform: uppercase;
	font-size: 25px;
	background-color: rgba(0,0,0,0.40);
	margin-left: 30%;
	margin-right: 30%;
}

.carousel-caption h1 {
	font-weight: 400;
	background-color: rgba(0,0,0,0.40);
	margin-left: 20%;
	margin-right: 20%;
	
}

.carousel-caption h2 {
	font-weight: 300;
	background-color: rgba(0,0,0,0.40);
	margin-left: 23%;
	margin-right: 23%;
	
}

#hero .btn-dark{
    background-color: transparent ;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
	padding: 7px 20px;
    border-radius: 30px;
	margin-left: 40%;
	margin-right: 40%;
}

#hero .btn-dark:hover{
    background-color: #fff;    
}

#columnas article{
    padding: 60px 20px 40px;
    color: #000;
    text-align: center;
}

#columnas h3{
	font-size: 28px;
	padding: 10px 0px 0px 0px;
    color:#362a53;
    font-weight: 600;
}
#columnas a h3:hover{
	color: #3f88c5;
}

#columnas h4{
	font-size: 22px;
    color:#362a53;
}
#columnas a h4:hover{
	color: #3f88c5;
}

#columnas p{
	font-size: 30px;
    color:#362a53;
}
#columnas p:hover{
	color: #3f88c5;
}

#hero2 {
	background-image: url("../img/banner2.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
	max-height: 800px;
	padding-top: 5%;
	padding-bottom: 5%;
}

.container3 {
	text-align: center;
	position:relative;
}

.container3 h1{
	font-weight: 700;
	font-size: 70px;
	letter-spacing: 1px;
	line-height: 80px;
}

.container3 h3{
	font-weight: 400;
	padding-top: 15px;
	padding-bottom: 5px;	
}
a:hover{
    text-decoration: none;
    color: #3f88c5;
}

/*Código de Christian(index)*/



/*Código de Andrea(productos)*/

header{
	padding: 0px 350px 0px 0px;
	background-color: #362a53;
}
.carrito{
    margin-left: 100px;
    margin-top: 4px;
}
.titulos{
    color: #372554;
    font-weight: 600;
    text-align: center;
    padding: 55px;
}
.listaproductos{
    font-size: 17px;
    color: #372554;
    font-weight: 600;
}
.listitem a{
    color: #372554;
    padding: 4px 3px;
    text-decoration: none;
}
.listitem:hover{
    color: #fff;
    background-color: #44bba4;
    text-decoration: none;
}
.listitem:hover a{
    color: #fff;
}
.descripprod{
    color: #372554;
    font-weight: 500;
    text-align: center;
}
.descripprod h4{
    font-weight: 600;
    font-size: 18px;
}
.descripprod img{
    padding-bottom: 20px;
    max-width: 210px;
}
.descripprod p{
    padding-bottom: 60px;
}
.descripprod a:hover{
    color: #3f88c5;
    text-decoration: none;
}
.container2 img {
    width: 8%;
    height: auto;}

footer {
	text-align: center;
	padding: 30px 0px 10px;
	background-color: #7a76b4;
    color: #fff;
}

/*Código de Andrea(productos)*/

/*Código de Linda (galeria)*/

#title2 h1{
	padding-bottom: 0px;
}

.subtitulos{
    color: #44BBA4;
	font-size: 20px;
	font-weight: 200;
    text-align: center;
	padding: 55px;
	padding-top: 0px;
}

.descripgal{
    color: #44BBA4;
    font-weight: 500;
    text-align: center;
	}

.descripgal h4{
    font-weight: 600;
    font-size: 18px;
}

.descripgal img{
    max-width: 210px;
	padding-bottom: 10px;
}

.descripgal a:hover{
    color: #3f88c5;
    text-decoration: none;
}

.bunny{
	padding-bottom: 100px;
}
/*Código de Linda (galeria)*/
	
/*Codigo de Ana(contactanos)*/
 .overlay{
	background-color: rgba(255,255,255,0.69);
	top: 0;
	 left: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	position: absolute;
	
}
#top{
	background-image: url("../img/a5copia.jpg");
	position: relative;
	overflow: hidden;
	background-size: cover;
	width: 100%;
	height: 100px;
	background-repeat: no-repeat;
	background-position: center center;
}
#top h3{
	font-family: 'Montserrat';
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-top: 40px;
}
#top .square{
	padding-left: 41%;
	padding-top: 4%;
}
#userinfo{
	padding-top: 20px;
	font-family: 'Lato';
}
.btn-enviar{
	background-color: #00BBA3;
	color: #fff;
	font-family: 'Lato light';
	font-size: 17px;
	padding: 3px 30px;
	border-radius: 12px;
	margin-left: 80%;
    border: none;
}
.btn-enviar:hover{
    color: #372554;
}
.form-group{
	font-family: 'Montserrat';
	font-size: 16px;
	color: #00BBA3;
	margin-left: 130px;
}
#nombre, #contra, #correo, #date, #apellido{
	background-color: #F7F7F7;
	border-color: #F7F7F7;
	color: #D9BCE4;
}
#nombre, #apellido{
	width: 400px;
}
#correo{
	width: 600px;
}
#date{
	width: 200px;
	text-align: center;
}
#contra{
	width: 480px;
}
.label{
	margin-bottom: -5px;
	margin-top: 8px;
}	
	
/*Codigo Andrea 2*/
#info{
    margin-top: 100px;
}
.funda{
    padding: 0px 180px;
}
.funda-blanca{
    display: grid;
    padding: 280;
    width: 100%;
    height: 100%;
}

.color-funda{
    text-align: center;
    font-size: 18px;
    color: #372554;
    font-weight: bold;
    padding-top: 13px;
}
a .color-producto{
    padding-top: 15px;
    padding-left: 150px;
}
.titulo-prod{
    color: #372554;
    font-weight: bold;
    font-size: 40px;
}
.designer{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 25px;
}
.designer span{
    color: #372554;
    font-weight: 500;
}
.designer span:hover{
    color: #3f88c5;
    font-weight: 500;
}
p{
    font-size: 18px;
}
.rating{
    padding: 30px 0px;
}
.descripdesign span{
    color: #372554;
    font-weight: 500;
}
.descripdesign span:hover{
    color: #3f88c5;
    font-weight: 500;
}
.btn-cant{
    padding-top: 20px;
}
.agregar-carro a{
    margin-top: 40px;
    background-color: #00BBA3;
	color: #fff;
    padding: 7px 80px;
    border-radius: 30px;
    border: none;
}
.agregar-carro a:hover{
    margin-top: 40px;
    background-color: #00BBA3;
	color: #372554;
    padding: 7px 80px;
    border-radius: 30px;
    border: none;
}
.redes{
    margin-top: 80px;
}
.redes i{
    font-size: 25px;
	background-color: #372554;
	color: #fff;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-radius: 100%;
	transition: all 0.3s ease-in-out;
}
.redes i:hover{
	background-color: #3f88c5;
	transition: all 0.3s ease-in-out;
}

#recomendados{
    padding-top: 90px;
    margin-bottom: 150px;
    margin-left: 50px;
}
#recomendados h2{
    font-size: 35px;
    font-weight: 300;
}
.recomendados-prod img{
    width: 348px;
    height: 345px;
}
.recomendados-prod h3{
    color: #372554;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0px 10px;
    margin: 0px;
}
.recomendados-prod p{
    color: #372554;
    font-size: 18px;
}
.recomendados-prod h3:hover{
    color: #3f88c5;
}
.recomendados-prod p:hover{
    color: #3f88c5;
}

/*Codigo Andrea 2*/

/*Codigo Arianna*/
#fondoimagen{
	background-image: url("../img/001 (1).jpg");
	position: relative;
	background-size: cover;
	width: 100%;
	height: 420px;
	background-repeat: no-repeat;
	
}

#fondoimagen h1{
	font-family: 'Montserrat';
	font-size: 60px;
	color: #000000;
	text-align: center;
	margin-top: 40px;
	
	padding-top: 150px;
}

#somostexto{
	padding-top: 100px;
	padding-bottom: 100px;
}

#mision .misionparrafo{
	padding-top: 250px;
}

#vision .visionparrafo{
	padding-top: 390px;
}

#valores{
	background-image: url("../img/004.jpg");
	position: relative;
	background-size: cover;
	width: 100%;
	height: 420px;
	background-repeat: no-repeat;
}

#valores h2{
font-family: 'Montserrat';
font-size: 45px;	
color: #FFFCFC;
margin-top: 30px;
padding-top: 340px;
padding-left: 460px;
}

#valoresimago{
 font-family: 'Montserrat';
font-size: 15px;
}

.valores1{
	padding-left: 10px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.valores2{
	padding-left: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

#vision .visionimagen{
background-image: url("../img/003.jpg");
	position: relative;
	background-size: cover;
	width: 400px;
	height: 600px;
	
	background-repeat: no-repeat;	
}

#vision h2{
font-family: 'Montserrat';
font-size: 45px;	
color: #FFFCFC;
margin-top: 30px;
padding-top: 330px;
padding-left: 170px;	
}

#mision .misionfoto{
	background-image: url("../img/002.jpg");
	position: relative;
	background-size: cover;
	width: 100%;
	height: 500px;
	padding-bottom: 30px;
	background-repeat: no-repeat;
}
	
#mision h2{
font-family: 'Montserrat';
font-size: 45px;	
color: #FFFCFC;
margin-top: 30px;
padding-top: 230px;
padding-left: 200px;
}

#lineagrosor{
	padding-top: 30px;
	padding-bottom: 30px;
}

#lineagrosor2{
	padding-top: 30px;
	padding-bottom: 30px;
}

.valoresespacio{
	padding-top: 15px;
}

